@keyframes rainbow {
  0% {border: solid 1px red;
      box-shadow: 0px 0px 20px red;
      transform: translate(-50%,-50%) rotate(0deg) rotateX(0deg) rotateY(0deg);
      -ms-transform: translate(-50%,-50%) rotate(0deg) rotateX(0deg) rotateY(0deg);
      -webkit-transform: translate(-50%,-50%) rotate(0deg) rotateX(0deg) rotateY(0deg);
      -moz-transform: translate(-50%,-50%) rotate(0deg) rotateX(0deg) rotateY(0deg);
      -o-transform: translate(-50%,-50%) rotate(0deg) rotateX(0deg) rotateY(0deg);}
  15% {border: solid 1px orange;
      box-shadow: 0px 0px 20px orange;}
  30% {border: solid 1px yellow;
      box-shadow: 0px 0px 20px yellow;}
  45% {border: solid 1px green;
      box-shadow: 0px 0px 20px green;}
  60% {border: solid 1px blue;
      box-shadow: 0px 0px 20px blue;}   
  75% {border: solid 1px purple;
      box-shadow: 0px 0px 20px purple;} 
  100% {border: solid 1px red;
      box-shadow: 0px 0px 20px red;
      transform: translate(-50%,-50%) rotate(360deg) rotateX(360deg) rotateY(360deg);
      -ms-transform: translate(-50%,-50%) rotate(360deg) rotateX(360deg) rotateY(360deg);
      -webkit-transform: translate(-50%,-50%) rotate(360deg) rotateX(360deg) rotateY(360deg);
      -moz-transform: translate(-50%,-50%) rotate(360deg) rotateX(360deg) rotateY(360deg);
      -o-transform: translate(-50%,-50%) rotate(360deg) rotateX(360deg) rotateY(360deg);}       

}

/*@keyframes float{
	0% {transform: translate(0,0);}
	100%{transform: translate(0,100%);}
}

@keyframes spin{
  0%{ transform: translate(-50%,-50%) rotate(0deg) rotateX(0deg) rotateY(0deg);}
  100%{ transform: translate(-50%,-50%) rotate(360deg) rotateX(360deg) rotateY(360deg);}
}*/

/*#startScreen {
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999;
}*/

canvas {
  position: absolute;
  width:100%;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 1;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.video-bg {
	height: 100vh;
}

/*STAMPS*/
div.stamps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
/*    background-color: red;*/
}

div.stamps img{
  position: absolute; 
  /*Need to position absolutely for elements to respond to top/left style	*/
  /* transform: translate(-50%,-50%);  Need to translate so stickers placed in the middle of the mouse click. However when you add the spin animation, it overwrites this transform because trasforms are not additive in CSS. You have to add this transform to the animation itself for it to show up */
    width: 150px;
    height: 150px;
  	animation: rainbow 30s ease-in-out infinite;
    border: solid 1px red;
    box-shadow: 0px 0px 20px red;
  	border-radius: 20px;
    z-index: 2;
}
